<!-- JINJA 2-->
<div>
    {% for message in messages %}
    <div>
        <span>{{message.user}} [{{message.date}}]:</span>
        <span>{{message.content}}</span>
    </div>
    {% endfor %}
</div>

<form action="/nuevo-mensaje" method="POST">
    <input autofocus name="mensaje" type="text" placeholder="Escribe un mensaje">
    <input type="submit" value="Enviar">
</form>

<script>
    window.onload = function() {
        setTimeout(function() {
            window.location.reload();
        }, 5000);
    }
</script>